<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap-3.2.0-dist/css/bootstrap-theme.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}jquery/jquery-1.11.2.js"></script>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.11.2/jquery-ui-1.11.2/jquery-ui.js"></script>
    <script type="javascript" src="{{ STATIC_URL }}bootstrap-3.2.0-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.11.2/jquery-ui-1.11.2/jquery-ui.css">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    {% block head %}
        <div class="page page-header" style="border-bottom: 2px #000000;text-align: center; ">
            {% block title %}
                Hello, {{ user }} <img src="{{ MEDIA_URL }}{{ user.profile.photo }}" width="64px;" height="64px;">
                {{ user.task.length }}
            {% endblock %}
        </div>
        {% block menu %}
            <div class="nav navbar" style="text-align: center;">
                <a href="{% url 'menu' %}">На главную</a><br>
                <a href="{% url 'exit' %}">Выйти</a>
            </div>
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block page %}
    {% block content %}
    {% endblock %}
{% endblock %}
</body>
<footer class="navbar-fixed-bottom">
    {% block footer %}
        <div class="navbar-inner" style="text-align: center;">
            {% block copyright %}
                Platonov Roman Inc(c)
            {% endblock %}
        </div>
    {% endblock %}
</footer>
</html>