{% extends "EventApp/base.html" %}


{% block content %}
    <div class="h1" style="margin-left: 10px;">
        События текущей недели

    </div>
    {% if events %}
        <ul class="list-group" style="width: 50%">
            {% for event in events %}
                <div class="list-group-item h3">  {{ event.time }} <a href="{% url 'event_details' event.id %}">Кто
                    идет?</a><br> <br>
                    {{ event.description }}<br>
                    <br>
                    {{ event.place.name }} <img src="{{ MEDIA_URL }}{{ event.place.photo }}" width="128px;"
                                                height="128px;"><br><br>
                    {{ event.type.name }} <img src="{{ MEDIA_URL }}{{ event.type.icon }}" width="128px;"
                                               height="128px;">

                    <form method="post" action="{% url 'go' event.id %}">
                        {% csrf_token %}
                        <button class="btn btn-primary">Я пойду!</button>
                    </form>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p> Nothing to show</p>

    {% endif %}


{% endblock %}