{% extends "EventApp/base.html" %}


{% block content %}
    <script type="text/javascript">

        $(document).ready(function () {
            $("#date-select").prop("selectedIndex", {{ selected }}-1);
        });
        $(function () {
            $("[name='gobtn']").click(function () {
                $(this).addClass('clicked');
                $.ajax({
                    type: "POST",
                    url: "/go/",
                    data: {
                        'id': $(this).attr('id'),
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                    }
                }).done(function (msg) {
                    var button = $(".clicked");
                    button.attr("disabled", true);
                    button.text("Вы пойдете");
                    button.removeClass('clicked');
                });
            });
        });</script>
    <div class="h1" style="margin-left: 10px;">
        {% if selected == 1 %}
            Все события
        {% elif selected == 2 %}
            События этой недели
        {% elif selected == 3 %}
            События, на которые я иду
        {% endif %}

    </div>
    <div style="float: left;">
        <form style="display: inline-block;">
            <label>
                <select id="date-select" name="date_select" style="width: auto;margin-bottom: 20px;">
                    <option value="1">Все события</option>
                    <option value="2">Акутальные события</option>
                    <option value="3">События, на которые я иду</option>

                </select>

                <form action="{% url 'events' %}" method="get">
                    <button>Поиск</button>
                </form>
            </label>

        </form>
        <form style="display: inline-block; margin-right: 10px;">
            <input name="description_search" type="text" placeholder="Введи описание"/>

            <form action="{% url 'events' %}" method="get">
                <button>Поиск по описанию</button>
            </form>
        </form>
    </div>
    {% if events %}
        <table class="table table-striped table-responsive">
            {% for event in events %}
                <tr>
                <td> {{ event.time }}</td>
                <td>
                    <a href="{% url 'event_details' event.id %}">Кто
                        идет?
                    </a>
                </td>

                <td>
                    {{ event.description }}
                </td>
                <td>
                    {{ event.place.name }} <img src="{{ MEDIA_URL }}{{ event.place.photo }}" width="128px;"
                                                height="128px;"></td>

                <td>
                    {{ event.type.name }} <img src="{{ MEDIA_URL }}{{ event.type.icon }}" width="128px;"
                                               height="128px;"></td>
                <td>
                {% csrf_token %}
                {% if user in event.user.all %}
                    <button class="btn" disabled>Вы идете</button>
                {% else %}
                    <button id="{{ event.id }}" class="btn btn-primary" name="gobtn">Я пойду!</button>
                {% endif %}
            {% endfor %}
            </td>
        </table>

    {% else %}
        <p> Nothing to show</p>

    {% endif %}


{% endblock %}