{% extends "EventApp/base.html" %}

{% block page %}
    <div class="page-header">
        Какое-то очень крутое событие
    </div>


    <div class="modal-content">

        <table class="table table-responsive" style="width: 50%; display: inline-block;">
            Список записавшихся

            <tbody>
            <tr>
                <td>Человек 1</td>
                <td>8999999999</td>
                <td><a href="#">перейти</a></td>
            </tr>
            <tr>
                <td>Человек 2</td>
                <td>12822828</td>
                <td><a href="#">перейти</a></td>
            </tr>
            </tbody>
        </table>

        <div class="panel panel-default" style="display: inline-block;">
            <div class="panel-body">
                Комментарии
            </div>
            <div class="panel-footer">
                Как-то так
            </div>
        </div>
    </div>





{% endblock %}