{% extends "EventApp/base.html" %}

{% block page %}
    <div class="page-header">
        {{ event.time }}
    </div>


    <div class="modal-content">

        <table class="table table-responsive" style="width: 50%; display: inline-block;">
            Список записавшихся

            <tbody>
            {% for user in event.user.all %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ user.userprofile.phone_number }}</td>
                    <td><a href="{{ user.userprofile.vk }}">Профиль Вк</a></td>

                </tr>
                <tr>
                    <td>Человек 2</td>
                    <td>12822828</td>
                    <td><a href="#">перейти</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="panel panel-default" style="display: inline-block;">
            <div class="panel-body">
                Комментарии
            </div>
            <div class="panel-footer">
                Как-то так
            </div>
        </div>
    </div>





{% endblock %}