{% extends "EventApp/base.html" %}


{% block page %}
    <script type="text/javascript">
        $(document).ready(function () {
    </script>

    <ul class="nav nav-pills nav-stacked" role="tablist" style="width: 50%; margin-left: 10px;">
        <li style="display: inline-block;" role="presentation"><a href="{% url 'events' %}">События</a></li>
        <li style="display: inline-block;" role="presentation"><a href="{% url 'create_event' %}">Создать</a></li>
        <li role="presentation"><a href="{% url 'job:tasks' %}">Задачи</a></li>
        <li role="presentation"><a href="{% url 'settings' %}">Настройки</a></li>
        <li role="presentation"><a href="{% url 'places' %}">Места</a></li>
        <li role="presentation"><a href="{% url 'types' %}">Типы событий</a></li>

        <li style="display: inline-block;" role="presentation"><a href="{% url 'job:goals' %}">Цели</a></li>
        <li style="display: inline-block;" role="presentation"><input type="button" id="createGoal" value="Создать">
        </li>

        <li role="presentation"><a href="{% url 'job:bills' %}">Долги и счета</a></li>
    </ul>

{% endblock %}