{% extends "EventApp/base.html" %}


{% block page %}


    <ul class="nav nav-pills nav-stacked" role="tablist" style="width: 50%; margin-left: 10px;">
        <li style="display: inline-block;" role="presentation"><a href="{% url 'events' %}">События</a></li>
        <li style="display: inline-block;" role="presentation"><a href="{% url 'create_event' %}">Создать</a></li>
        <li role="presentation"><a href="{% url 'job:tasks' %}">Задачи</a></li>
        <li role="presentation"><a href="{% url 'settings' %}">Настройки</a></li>
        <li role="presentation"><a href="{% url 'places' %}">Места</a></li>
        <li role="presentation"><a href="{% url 'types' %}">Типы событий</a></li>

        <li style="display: inline-block;" role="presentation"><a href="{% url 'job:goals' %}">Цели</a></li>
        <li style="display: inline-block;" role="presentation"><input type="button" id="createGoal" value="Создать">
        </li>
        <div class="modal fade" id="foo_modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">Server Side Modal Popup Demo</div>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <li role="presentation"><a href="{% url 'job:bills' %}">Долги и счета</a></li>
    </ul>



    <script type="text/javascript">

    </script>

{% endblock %}