{% extends "EventApp/base.html" %}

{% block page %}
    <form action="{% url 'create_place' %}">
        <input type="submit" class="btn btn-info" value="Создать место"/>
    </form>
    {% if places %}
        <table class="table table-responsive table-bordered table-striped">
            {% for p in places %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.description }}</td>
                    <td>
                        <img src="{{ MEDIA_URL }}{{ p.photo }}" width="128px;"
                             height="128px;"></td>

                    <td>{{ p.url }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p> No available places</p>
    {% endif %}

{% endblock %}