{% extends 'EventApp/base.html' %}

{% block page %}


    <form action="{% url 'job:task_form' %}" style="margin-bottom: 10px;">
        <input type="submit" class="btn btn-info" value="Создать задачу"/>
    </form>

    <form style="display: inline-block; margin-right: 10px;">
        <input name="search_string" type="text" placeholder="Введи описание"/>

        <form action="{% url 'job:tasks' %}" method="get">
            <button>Поиск по тексту</button>
        </form>
    </form>

    <form style="display: inline-block; margin-right: 10px; float: right;">
        <label>
            Показать легкие
            <input type="checkbox" name="priority"/>
        </label>

        <form action="{% url 'events' %}" method="get">
            <button>Показать легкие задачи</button>
        </form>
    </form>

    <table class="table table-striped table-bordered">
        {% for t in task_list %}

            <tr>
                <td>
                    <a class="expand" href="{% url 'job:task_details' t.id %}">Детали</a>
                </td>
                <td>
                    {{ t.name }}
                </td>
                <td>
                    {{ t.hours }} часов
                </td>
                <td>
                    {{ t.critical_hours }}
                </td>
                <td>{{ t.description }}</td>
            </tr>

        {% endfor %}
    </table>


{% endblock %}